/* Do some css reset on selected elements */
h1, p
{
	margin: 0;
}

div.power_controls
{
	margin-right:70px;
}

div.html5_logo
{
	margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
	background-color: #cccccc;
	cursor: pointer;
	border:1px solid #333333;
}


.pw1
{
	background-color: #6fe8f0;
}

.pw2
{
	background-color: #86ef6f;
}

.pw3
{
	background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
	cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
	margin-bottom: 5px;
}

p.noCanvasMsg
{
	color: white;
}

#theWheelContainer
{
    background-image: url(wheel_back.60.png);
    background-repeat: no-repeat;
    background-position:center;
    /*width: 260px;
    height: 260px;*/
    padding-top:88px;
}

canvas
{
    /*margin-top:-40px;*/
}

#page2 a
{
    padding-top:40px;
    text-decoration: none;
    display:block;
    /*height:40px;
    width:70px;
    color:chartreuse;
    margin:0 auto;*/
    font-weight: bold;
    cursor:pointer;
    
}